.header {
  border-bottom-color: var(--border-color-header);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header-nav-logo,
.header-nav-link,
.header-contacts-link,
.footer-logo-begin,
.footer-contacts-address,
.footer-contacts-link,
.portfolio-projects-link {
  text-decoration: none;
}

.header-nav-logo,
.footer-logo-begin {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav-logo,
.nav-logo,
.footer-logo-begin {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.nav-logo {
  color: var(--nav-logo-color);
  letter-spacing: 0.03em;
}

.header-nav-link,
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts-link {
  color: var(--text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-nav-list {
  display: flex;
  margin-left: 93px;

  & .header-nav-link.current {
    color: var(--accent-color);
  }
}

.header-nav-list {
  gap: 50px;
}

.header-nav-list .header-nav-item:last-child {
  margin-right: 0;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  height: 16px;
}

.header-contacts-list .header-contacts-item + .header-contacts-item {
  margin-left: 30px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  fill: var(--icon-contacts-color);
  transition: fill var(--animation);
  margin-right: 10px;
  .header-contacts-link:hover &,
  .header-contacts-link:focus & {
    fill: var(--accent-color);
  }
}

.header-nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    display: none;
  }
}

.header-nav-link.current::after {
  display: block;
}

.header-nav-item,
.header-contacts-item {
  list-style-type: none;
}
