.header {
  border-bottom-color: var(--border-color-header);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header__container {
  margin-left: auto;
  margin-right: auto;
}

.menu__link,
.contacts__link {
  text-decoration: none;
}

.menu__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__header {
  display: flex;
  gap: 50px;
  margin-left: 93px;
  & .menu__link.current {
    color: var(--accent-color);
    &:after {
      display: block;
    }
  }
}

.menu__header .menu__item:last-child {
  margin-right: 0;
}

.header__contacts {
  display: flex;
  margin-left: auto;
  height: 16px;
}

.header__contacts .contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__icon {
  fill: var(--icon-contacts-color);
  transition: fill var(--animation);
  margin-right: 10px;
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}

.navigation {
  display: flex;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu__link {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: none;
  }
}

.menu__item,
.contacts__item {
  list-style-type: none;
}
