.logo{
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
}

.logo--begin {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}


.logo--footer {
  color: var(--accent-color-text);
}